<% include partials/header %>
<!-- <link href="stylesheets/inbox.css" rel="stylesheet" type="text/css"> -->
    <script>
        var socket = io();
        $("#inbox").addClass("active");
        $("#title").text("Indbakke");

        // Admin send message to server
        function adminMessage (userId) {
            const message = $("#message").val();
            $("#message").val("");
            
            $("#messageDiv").append("<p class='text-right'>" + message + "</p>");
            
            socket.emit("from admin to server", {
                message: message,
                userId: userId
            });
        }

        // Admin recieving message from server
        socket.on("from server to admin", (data) => {
            $("#messageDiv").append("<p>" + data.message + "</p>");
        });

    </script>

    <!-- Messages -->
    <div class="container">
        <div id="messageDiv">
        <% user.messages.forEach((message) => { %>
            <% if(message.fromUser === false) { %>
                    <p class="text-right"> <%= message.message %> </p>
                <% } else { %>
                    <p> <%= message.message %> </p>                    
                <% } %>
            <% }) %>
        </div>
    </div>

    <!-- tekstfelt & send-knap -->
    <div>
        <div class="d-flex flex-column justify-content-end" style="min-height: calc(100vh - 55px); align-items: flex-end;">
            <div class="input-group stickyBottom">
                <input id="message" class="form-control" type="text" placeholder="skriv en besked...">
                <button class="btn btn-primary" onclick="adminMessage('<%= user._id %>')"><i class="fa fa-telegram fa-lg"></i></button>
            </div> 
        </div>
    </div>