<% include partials/header %>
<!-- <link href="stylesheets/inbox.css" rel="stylesheet" type="text/css"> -->
    <script>
        var socket = io();
        $("#inbox").addClass("active");
        $("#title").text("Indbakke");

        // Mikael sends a message to the user. The message is only saved in the user messages array.
        // Vi skal bare lave en emit som gemmer beskeden i user DB
        function messageFromMikael (userId) {
            $("#message").val();
            socket.emit("from mikael to server", {
                message: $("#message").val(),
                userId: userId
            });
        }

        socket.on("from server to mikael", (data) => {
            console.log("BRUGERBESKED TIL MIKAEL");
            $("#messageDiv").append("<p>" + data.message + "</p>");
        });

    </script>

    <!-- Messages -->
    <div class="container">
        <div id="messageDiv">
        <% user.messages.forEach((message) => { %>
            <% if(message.fromUser === true) { %>
                <p class="text-right"> <%= message.message %> </p>
                <% } else { %>
                    <p> <%= message.message %> </p>                    
                <% } %>
            <% }) %>
        </div>
    </div>



    <!-- tekstfelt & send-knap -->
    <div>
        <div class="d-flex flex-column justify-content-end" style="min-height: calc(100vh - 55px); align-items: flex-end;">
            <div class="input-group stickyBottom">
                <input id="message" class="form-control" type="text" placeholder="skriv en besked...">
                <button class="btn btn-primary" onclick="messageFromMikael('<%= user._id %>')"><i class="fa fa-telegram fa-lg"></i></button>
            </div> 
        </div>
    </div>