<% include partials/header %>

<script>
    $("#register").addClass("active");
</script>

<div class="container">
    <h4>Registrér ny bruger</h4>
    <hr class="my-5">
    <form action="register" method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label><span class="text-danger">*</span><strong> Fornavn</strong></label>
                <input type="text" class="form-control" name="firstName" placeholder="fornavn">
            </div>
            <div class="form-group col-md-6">
                <label><span class="text-danger">*</span><strong> Efternavn</strong></label>
                <input type="text" class="form-control" name="lastName" placeholder="efternavn">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label><span class="text-danger">*</span><strong> E-mail</strong></label>
                <input type="email" class="form-control" name="username" placeholder="e-mail">
            </div>
            <div class="form-group col-md-6">
                <label><span class="text-danger">*</span><strong> Password</strong></label>
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label><span class="text-danger">*</span><strong> Adresse</strong></label>
                <input type="text" class="form-control" placeholder="adresse" disabled>
            </div>
            <div class="form-group col-md-2">
                <label><span class="text-danger">*</span><strong> Postnummer</strong></label>
                <input type="text" class="form-control" placeholder="postnummer" disabled>
            </div>
            <div class="form-group col-md-4">
                <label><span class="text-danger">*</span><strong> By</strong></label>
                <input type="text" class="form-control" placeholder="by" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label><span class="text-danger">*</span><strong> Telefon</strong></label>
                <input type="text" class="form-control" placeholder="telefon" disabled>
            </div>
        </div>
        <button class="btn btn-outline-primary pointer">Registrér</button>
    </form> 
</div>

<% include partials/footer %>