<% include partials/header %>

	<div class="container">
		
		<h4>Min side</h4>
		<% let user = users[0]; %>

		<p><%= user.name %> </p>
		<canvas id="myChart" width="100" height="80"></canvas>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
		<script>

			var ctx = $("#myChart");

			var myChart = new Chart(ctx, {
				type: 'line',
				data: {

					<% 
					let weightDates = []
					let allWeights = []

					user.weightStats.allWeights.forEach((weight) => {
						weightDates.push(JSON.stringify(weight.date));
						allWeights.push(weight.weight);
					}); 
					%>

					labels: [<%- weightDates %>],
					datasets: [{
						label: '# Vægt',
						data: [<%= allWeights %>],
						backgroundColor: [
							'rgba(255, 99, 132, 0.2)',
						],
						borderColor: [
							'rgba(255,99,132,1)',
						],
						borderWidth: 1,
						fill: false
					}],
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero:false
							}
						}]
					}
				}
			});


		</script>

	</div>

<% include partials/footer %>