<% include partials/header %>
    <script>
        $("#inbox").addClass("active");
		$("#title").text("Indbakke");
    </script>

    <!-- tekstfelt & send-knap -->
    <div>
        <div class="d-flex flex-column justify-content-end" style="min-height: calc(100vh - 55px); align-items: flex-end;">
            <div class="input-group stickyBottom">
                <input class="form-control" type="text" placeholder="skriv en besked...">
                <a class="btn btn-primary" href="#"><i class="fa fa-telegram fa-lg"></i></a>
            </div> 
        </div>
    </div>


<% include partials/footer %>