<% include partials/header %>

    <div class="">



        <!-- tekstfelt & send-knap -->
        <div class="d-flex flex-column justify-content-end" style="min-height: calc(100vh - 55px); align-items: flex-end;">
            <div class="input-group stickyBottom">
                <input class="form-control" type="text" placeholder="skriv en besked...">
                <a class="input-group-addon btn btn-primary"><i class="fa fa-telegram fa-fw"></i></a>
            </div> 
        </div>

    </div>


<% include partials/footer %>