<% include partials/header %>

<script>
    $("#profile").addClass("active");
    $("#title").text("Profil");
</script>

<div class="container">
    <p>Navn: <%= user.username %></p>
    <p>Email: <%= user.email %></p>
    <p></p>
    <a class="nav-link" id="logout" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Log ud</a>
</div>

<% include partials/footer %>