<% include partials/header %>

<div class="row">
    <div class="col-6">
        <label>Navn: <%= user.username %></label>
        <label>Email: <%= user.email %></label>
        <label></label>
    </div>
    <div class="col-6"></div>
</div>

<% include partials/footer %>