<% include partials/header %>

<h4 class="m-1 my-2">Program</h4>

<div class="card m-1 mb-3">
    <div class="card-header">
        Pas 1
    </div>
    <div class="card-body">
        <div class="list-group list-unstyled">
            <h5>&ltMuskelgruppe&gt</h5>
            <li><a href="test" class="btn btn-sm btn-primary mt-1">&ltØvelse&gt</a></li>
            <li><a href="test" class="btn btn-sm btn-primary mt-1">&ltØvelse&gt</a></li>
            <li><a href="test" class="btn btn-sm btn-primary mt-1">&ltØvelse&gt</a></li>
            <li><a href="test" class="btn btn-sm btn-primary mt-1">&ltØvelse&gt</a></li>
        </div>
    </div>
</div>



<% include partials/footer %>